*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabezal (Header) */

.logo-pagina{
    width: 175px;
}

.cabezal{
    display: flex;
    flex-wrap: wrap;
    background-color: #F4F4F4;
    border-bottom: 2px solid #000000;
    border-radius: 5px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.cabezal a{
    font-size: 18px;
    text-decoration: none;
}
.cabezal nav{
    text-align: center;
}

#titulo{
    font-size: 40px;
    text-align: center;
    color: #000000;
}

.letra-cabezal{
    margin-right: 10px;
    color: #000000;
}

/* Cuerpo (Main) */


.caja-productos{
    padding-left: 25px;
    margin-top: 25px;
    font-size: 22px;
    color: #beb22a;
}

.caja-productos h4{
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
}

.servicios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 10px;
}

.articulos{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    padding: 20px;   
    margin-top: 5px;
    margin-bottom: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: transform 1.5s ease;
}

.articulos:hover{
    transform: scale(1.04);
}

.articulos p{
    margin-top: 5px;
}

.imagen-producto{
    padding-bottom: 15px;
    width: 40%;
}

.precios{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.seccion-equipo h2{
    margin-bottom: 20px;
}

.video-equipo{
    background-color: black;
    width: 99.5%;
    height: 375px;
    border-radius: 20px;
}

/* Pie de la pagina (Footer) */

.caja{
    background-color:  #CACACA;
    border-top: 2px solid #000000;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
}
.subtitulo-caja{
    width: 200px;
    height: 20px;
    margin-bottom: 8px;
    padding-left: 15px;
    background-color: #F4F4F4;
    border-radius: 5px;
}

.lista{
    list-style: none;
    color: #000000;
    padding: 1rem;
}
.lista p{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 50px;
}

.boton-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25px;
    background-color:  #CACACA;
}
.boton-inicio a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}
