*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabezal (Header) */

.logo-pagina{
    width: 175px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.cabezal{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2C94C;
    border-bottom: 2px solid #000000;
    border-radius: 5px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.cabezal a{
    color: #C62828;
    font-size: 18px;
    text-decoration: none;
}
.cabezal nav{
    text-align: center;
    padding-bottom: 12px;
}

#titulo{
    font-size: 40px;
    text-align: center;
    color: #1C1C1C;
    padding-bottom: 10px;
}

.letra-cabezal{
    margin-right: 10px;
    color: #000000;
}

/* Cuerpo (Main) */

body{
    background-color: #242424;
}


.caja-productos{
    padding-left: 25px;
    margin-top: 25px;
    font-size: 22px;
    color: #F8F9FA;
}

.caja-productos h4{
    margin-top: 10px;
    font-size: 20px;
    color: #FF8C00;
}

.servicios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 10px;
}

.articulos{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;   
    margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(173, 155, 20, 0.834);
    transition: transform 1.5s ease;
}

.articulos:hover{
    transform: scale(1.04);
}

.articulos h3{
    color: #E67E22;
}

.articulos p{
    color: #1F1F1F;
    margin-top: 5px;
}
.articulos span{
    color: #FF8C00;
}

.imagen-producto{
    padding-bottom: 15px;
    width: 40%;
}

.precios{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.tipo-tazas{
    color: #E67E22;
    text-align: center;
    font-size: 25px;
}

.tazas{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.tazitas{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;   
    margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(173, 155, 20, 0.834);
    transition: transform 1.5s ease;
}

.tazitas:hover{
    transform: scale(1.04);
}

.tazitas img{
    width: 130px;
    padding-bottom: 10px;
}

.tazitas h4{
    font-size: 21px;
    color: #E67E22;
}

.taza2 img{
    width: 240px;
}
.taza3 img{
    width: 160px;
}

.guia{
    margin-top: 10px;
    margin-bottom: 10px;
}

.precio-taza{
    width: 115px;
    background-color: #423f3f;
    color: #E67E22;
    padding-left: 10px;
    margin-right: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* Pie de la pagina (Footer) */

.caja{
    background-color:  #1F1F1F;
    border-top: 2px solid #000000;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
}
.subtitulo-caja{
    width: 200px;
    height: 20px;
    margin-bottom: 8px;
    padding-left: 15px;
    background-color: #F9F9F9;
    border-radius: 5px;
}

.lista{
    list-style: none;
    color: #000000;
    padding: 1rem;
}
.lista p{
    color: #F2C94C;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 50px;
}

.boton-inicio{
    margin-left: 45%;
    margin-right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color:  #F4F4F4;
    border-radius: 5px;
}
.boton-inicio a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}
