*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabezal (Header) */

.logo-pagina{
    width: 175px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.cabezal{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2C94C;
    border-bottom: 2px solid #000000;
    border-radius: 5px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.cabezal a{
    color: #b93232;
    font-size: 18px;
    text-decoration: none;
}
.cabezal nav{
    text-align: center;
    padding-bottom: 12px;
}

#titulo{
    font-size: 40px;
    text-align: center;
    color: #1C1C1C;
    padding-bottom: 10px;
}

.letra-cabezal{
    margin-right: 10px;
    color: #000000;
}

/* Cuerpo (Main) */

body{
    background-color: #393737;
}


.caja-productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-size: 22px;
    color: #F8F9FA;
}

.caja-productos h2{
    text-align: center;
}

.caja-productos h4{
    font-size: 22px;
    color: #FF8C00;
}

.servicios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 10px;
}

.articulos{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;   
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 5px 4px 10px rgba(247, 202, 40, 0.834);
    transition: transform 1.5s ease;
}

.articulos:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.articulos h3{
    color: #E67E22;
}

.articulos p{
    color: #1F1F1F;
    margin-top: 5px;
}
.articulos span{
    color: #FF8C00;
}

.imagen-producto{
    padding-bottom: 15px;
    width: 40%;
}

.precios{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* .seccion-equipo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion-equipo h2{
    margin-bottom: 20px;
    color: #1F1F1F;
    background-color: #F2C94C;
    border-radius: 5px;
}

.video-equipo{
    background-color: black;
    width: 90%;
    height: 375px;
    border-radius: 20px;
    margin-bottom: 25px;
} */

.formulario-gomeria{
    background-color: #d0ad41;
    color: #000000;
    width: 85%;
    margin-left: 8%;
    margin-bottom: 2.5%;
    margin-top: 1.5%;
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 8px;
    
}

.formulario-gomeria h3::before{
    content: "✉️";
}

.formulario-gomeria div{
    padding-top: 10px;
    padding-left: 10px;
}

.formulario-gomeria button{
    width: 100px;
    background-color: #393737;
    border: #000000 solid;
    border-radius: 5px;
    color: #ffffff;
}

.formulario-gomeria button:hover{
    cursor: pointer;
}

.mensaje{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Pie de la pagina (Footer) */

.caja{
    background-color:  #1f1f1f46;
    border-top: 2px solid #000000;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
}
.subtitulo-caja{
    width: 200px;
    height: 20px;
    margin-bottom: 8px;
    padding-left: 15px;
    background-color: #F9F9F9;
    border-radius: 5px;
}

.lista{
    list-style: none;
    color: #000000;
    padding: 1rem;
}
.lista p{
    color: #d5833b;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 2.5%;
}

.boton-inicio{
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color:  #F4F4F4;
    border-radius: 5px;
}
.boton-inicio a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}
